html,body{
    background:#F2F2F2;
}

.TopCover{
    width:100%;
    height:60px;
    background:#D9851E;

}

.TopCover .UserInfo span{
    color:#FFF;
}

.TopCover .UserInfo .UsernameInfo{
    position:absolute;
    padding:20px;
}

.SideInfo{
    width:300px;
    height:calc(100% - 110px);
    border-right:solid 1px #F0F0F0;
    background:#F7F7F7;
    position:absolute;
    padding:30px
}

.UserInfo{
    border-radius:10px;
    border:solid 1px #F0F0F0;
}

.UserInfo .UsernameInfo{
    background:#FFF;
    width:100%;
    height:100px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    position:relative;
}

.UserInfo .UsernameInfo .username{
    position:absolute;
    left:100px;
    top:20px;
}

.UserInfo .UsernameInfo .firstlast{
    position:absolute;
    left:100px;
    top:40px;
    font-size:12px;
}

.UserInfo .UsernameInfo .firstlast span{
    float:left;
}

.UserInfo .UsernameInfo .firstlast .last{
    margin-left:5px;
}

.AppCounts .counts{
    padding:10px;
    margin:0;
    list-style:none;
}

.AppCounts .counts li{
    float:left;
    width:31%;
    background:red;
    height:50px;
    margin-left:8px;
    position:relative;
}

.AppCounts .counts li:first-child{
    margin-left:0px;
}

.AppCounts .counts li span{
    position:absolute;
    background:blue;
    width:100%;
    bottom:0px;
    float:left;
    text-align:center;
}

.UserInfo .UsernameInfo .UserPhoto{
    width:64px;
    height:64px;
    background:#E8E8E8;
    border-radius:5px;
    margin-left:15px;
    margin-top:15px;
    position:absolute;
    border:solid 1px #D4D4D4;
}

.UserInfo .ColoredBelow{
    width:100%;
    height:70px;
    background:#F29422;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border:solid 1px #BD731B;
    border-top:none;
}

.TopCover .AppTitle{
    position:absolute;
    padding:21px;
}

.TopCover .AppTitle .title{
    color:#FFF;
}

.SideInfo .UserMenu{
    position:relative;
    height:calc(100% - 200px);
    width:100%;
    background:#FFF;
    border-radius:10px;
    margin-top:15px;
    border:solid 1px #F0F0F0;
}

.SideInfo .DarkerTitle{
    background:red;
    padding:15px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.UserTribes{
    position:absolute;
    left:350px;
}

.NavigationItems{
    position:absolute;
    background:red;
    right:0px;
}

.NavigationItems ul{
    padding:0;
    list-style:none;
    margin:0;
}

.NavigationItems ul li{
    float:left;
    background:blue;
    padding:21px;
}

.UserTribes{
    list-style:none;
    margin:0;
    padding:0;
}

.UserTribes .TribeListingHead{
    background:blue;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    padding:10px;
}

.UserTribes li{
    float:left;
    list-style:none;
    margin-left:10px;
    min-width:260px;
    overflow:hidden;

}

.UserTribes .TribeDescription .label{
    background:green;
    width:100%;
    float:left;
    padding:7px;
}

.UserTribes .TribeDescription .desc{
    float:left;
    width:100%;
    background:orange;
    padding:10px;
}

